APP_NAME=AirCnC

# Basic
LOCALE=HOME
HOME_URL=192.168.0.1:3333
WORK_URL=192.168.2.5:3333
NODE_PORT=3333
URL=

# Banco de dados
MONGOOSE="mongodb+srv://<usuario>:<senha>@projects-p4icg.mongodb.net/aircnc?retryWrites=true&w=majority"