* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

body,
button,
input {
  font-family: Arial, Helvetica, sans-serif;
}
